<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
    <div class="main">
        <div class="left">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516113399961&di=d1b240ac2a796900f2a276a793dc929d&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%3D580%2Fsign%3D988ebc2019d5ad6eaaf964e2b1ca39a3%2F77c3b67b02087bf44044d00df0d3572c10dfcf05.jpg" class="to">
            <ul class="nav_list">
                <li>
                    <a href="#">
                        <img src="img/a1.svg" class="pic">
                        <span class="nav_list_name">前端</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/a2.svg" class="pic">
                        <span class="nav_list_name">后端</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/a3.svg" class="pic">
                        <span class="nav_list_name">思考</span>
                    </a>
                </li>
            </ul>
        </div><!--left结束-->
        <div class="right">
            <div class="article">
                <div class="article_title">
                    <h1 >2015年阅读书单</h1>
                    <p class="pub_date">2018-1-10</p>
                    <hr class="title_hr">
                </div>
                <div class="article_content">
                    看完电影，友圈好几人不约而同的发出声音：“很遗憾，没能成为清华学子……”当然，能去清华，谁还会念别的学校。
韩寒看完这部电影后，说：“华语片中少有的人文气质与时代反思，温暖感人。这部电影也展现了大师辈出的清华大学之前世今生，拍完辗转六年终于上映，最终献给了北大120周年校庆。”
第二天，韩寒又写了一个《我所理想的教育》。网友看的一脸懵，不是所停止写杂文了吗？这其中可能有什么巧合。作为一部电影，我觉得《无问东西》无疑为观众带了一种精神资源。

韩寒先生说的：“时代反思”和“温暖感人”，是对普通观众最恰当的精华总结。在这儿之前，2017年的电影中一直流淌与崇尚的剧情模式是“人性—温情”的实用框架。
无论是之前网络爆发的“江歌案”，还是引发全民争议的“三原色”，人们抢先的是追究公道，微博朋友圈挤满了对真相探索的人。
然而结合电影《无问西东》片段里的第四个故事，就会发现在这种看似公道的背后，我们缺失了对个体权利的注视和尊重。日本警方做的非常好，他们从一堆谎话连篇的证词中，从一堆缺乏显性想象的物证中找到了有利论据给案件做了定性。
由此，很多人也更清晰的感触到了温暖的多样性，它在冷静与凝视中重叠，不分彼此的释放能量。

无论如何，对比一下电影的四代人，他们既如此不同，又如此相似，感受到的是“立德立功立言三不朽”的气骨与芳华。
《无问西东》第一故事是在战乱的恶劣环境中，但那是中国学术教育的“黄金岁月”。片中修复了想象的记忆，包括坟地和荒地上的校舍，铁皮漏雨的屋顶，荒地泥土的室内。在这种艰苦的环境下，偏偏保留了高贵的品质和独立的精神。
沈光耀跪下的镜头堪称经典：富家子弟也住在布帘隔开的宿舍，房间虽然局促，心胸却远大。我记得沈母的台词大约是：“没有什么不是祖先经历过的，你懂不懂…….”。
对这样的富家子弟来说，他们去求学，不是求人生，是求人生态度。当兵也好，议政也好，是病诟的，他们要的是精神珍贵。

在第二个故事和第三个故事，则是一些片面的相反与坚守的气节。第二个故事发生在解放前夕，一对老师和学生之间关于学实科还是学文科的思辩。
这个时期的环境相比第一个故事的环境好很多，虽然仍然处在清贫状态上，但是没有了“跑警报”的穷困，年轻人要追求的东西开始变得复杂而微妙。
当“华北之大已经放不下一张平静的课桌“，有才华有眼光的年轻人可以无所畏惧的选择在最需要的地方”。当“最好的学生去读实科”，最好的学生却在证实自己的意义。所以，能困住人的是理想，而不是环境。

第三个故事相对来说有些悲剧性，却凸显了近代年轻人的“魂魄”。事实上，从剧情中我们能感受到某个历史时期盛兴过的“校风”以及滥用自由的后果。
有两个镜头印象特别深刻，一个是刘淑芒回忆起曾经的芳华，直挺挺的投井；另一个是王敏芝在银杏树下打开的盒子。这个结局是文明的约束，也是精神层面的交汇。两种笃定，两种释然，两个瞬间镜头相继提供了精神上的一震。
在发育人格这方面，我们的精神维度需要更深一些，事后经验往往都是苦难与刺痛的印象。那么，又回到片中的主题“：如果预知后果，我们还会选择吗？

实际上，只要把他们的“过去”替换成我们的“现在”，上面这些故事就可以原封不动的形容我们。我们在看似追寻高端的自我价值中早已经丧失了自我，西南联大哪段时期是一代中国年轻人的经典坚忍写照，而后来形成的过程中有每一代人的精神特色，但是不管曾经盛行过什么样的风，这些启迪和昭示的精神文明不会垮掉。

电影《芳华》是对于父辈记忆的追随，而电影《无问西东》是对中国年轻人的记忆追随。面对如此厚重的思想视野和影视资源，看见，想到，即是幸运！（文/杜娟）
《无问西东》：能代表中国年轻一代的“芳华”
                </div>
            </div>
            <div class="IL">
                <a class="IL_href" href="#">阅读</a>
                    <span class="IL1">666</span>
                <a class="IL_href" href="#">评论</a>
                    <span class="IL1">123</span>
            </div><!--IL结束-->
            <div class="change" >
                <span style="float: left;color: #666">前一篇：</span>
                <a href="#">Microservices 最佳实践之路</a>
                <a href="#" style="float: right">Microservices 最佳实践之路</a>
                <span style="float: right; color: #666">后一篇：</span>
            </div><!--before_article结束-->
            <div class="commet">
                <p style="margin-top: 50px">评论区</p>
                <hr>
                <div class="comment_content">
                    <div class="comment_top" style="width: 100%">
                        <div class="content_top_left" style="width: 10%;height:80px;float: left">
                            <img src="http://0.gravatar.com/avatar/ec9435af3f1cd6d7fca626d649928e7a?s=44&d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D44&r=G"
                                    style="margin-top: 20px;">
                        </div><!--content_top_left结束-->
                        <div class="content_top_right" style="width: 75%;height:80px;float: left">
                            <p style="font-size: 15px">寒塘渡月</p>
                            <time class="time">2017-1-10</time>
                        </div><!--content_top_right结束-->
                    </div><!--comment_top结束-->
                    <div class="comment_main">
                        <section class="comment_content">哈，穷游之类的平台只是发着试水，太费事儿，早已荒废。哪里都有可能荒芜停更，唯有这里不会，所以，你可以放心地把这里加收藏~
                        </section>
                        <div class="reply">
                            <a href="#">回复</a>
                        </div>
                    </div><!--comment_main结束-->
                </div><!--comment_content结束-->
            </div><!--comment结束-->
            <hr style="margin-top: 40px">
            <h3>发表评论</h3>
            <p>电子邮件地址不会被公开。</p>
            <p class="comment-form-author">
                <label style="display:block;">姓名</label>
                <input class="author" size="30">
            </p>
            <p class="comment-form-email">
                <label style="display:block;">电子邮件</label>
                <input class="author" size="30">
            </p>
            <p >
                <label style="display:block;">评论</label>
                <textarea class="content" aria-required="true"></textarea>
            </p>
            <input name="submit" type="submit" id="submit" value="发表评论">
         <div class="foot"></div>
        </div><!--right结束-->
    </div><!--main结束-->
</body>
</html>