<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{static_url('css/index.css')}}">
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <div class="main">
        <div class="left">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516113399961&di=d1b240ac2a796900f2a276a793dc929d&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%3D580%2Fsign%3D988ebc2019d5ad6eaaf964e2b1ca39a3%2F77c3b67b02087bf44044d00df0d3572c10dfcf05.jpg" class="to">
            <ul class="nav_list">
                <li>
                    <a href="/blog/design">
                        <img src="{{static_url('images/a1.svg')}}" class="pic">
                        <span class="nav_list_name">前端</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{static_url('images/a2.svg')}}" class="pic">
                        <span class="nav_list_name">后端</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="{{static_url('images/a3.svg')}}" class="pic">
                        <span class="nav_list_name">思考</span>
                    </a>
                </li>
            </ul>
        </div><!--left结束-->
        <div class="right">
            <div class="article">
                <div class="article_title">
                    <h1 >{{article_title}}</h1>
                    <p class="pub_date">{{article_time}}</p>
                    <hr class="title_hr">
                </div>
                <div class="article_content">
                    {{ article_content }}
                </div>
            </div>
            <div class="IL">
                <a class="IL_href" href="#">阅读</a>
                    <span class="IL1">666</span>
                <a class="IL_href" href="#">评论</a>
                    <span class="IL1">123</span>
            </div><!--IL结束-->
            <div class="change" >
                <span style="float: left;color: #666">前一篇：</span>
                <a href="#">Microservices 最佳实践之路</a>
                <a href="#" style="float: right">Microservices 最佳实践之路</a>
                <span style="float: right; color: #666">后一篇：</span>
            </div><!--before_article结束-->
            <div class="commet">
                <p style="margin-top: 50px">评论区</p>
                <hr>
                <div class="comment_content">
                    <ul class="comment_list">
                    <div class="comment_top" style="width: 100%">
                        <div class="content_top_left" style="width: 10%;height:80px;float: left">
                            <img src="http://0.gravatar.com/avatar/ec9435af3f1cd6d7fca626d649928e7a?s=44&d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D44&r=G"
                                    style="margin-top: 20px;">
                        </div><!--content_top_left结束-->
                        <div class="content_top_right" style="width: 75%;height:80px;float: left">
                            <p style="font-size: 15px">寒塘渡月</p>
                            <time class="time">2017-1-10</time>
                        </div><!--content_top_right结束-->
                    </div><!--comment_top结束-->
                    <div class="comment_main">
                        <section class="comment_content">哈，穷游之类的平台只是发着试水，太费事儿，早已荒废。哪里都有可能荒芜停更，唯有这里不会，所以，你可以放心地把这里加收藏~
                        </section>
                        <div class="reply">
                            <a href="#">回复</a>
                        </div>
                    </div><!--comment_main结束-->
                    </ul>
                </div><!--comment_content结束-->
            </div><!--comment结束-->
            <hr style="margin-top: 40px">
            <h3>发表评论</h3>
            <p>电子邮件地址不会被公开。</p>
            <p class="comment-form-author">
                <label style="display:block;" >姓名</label>
                <input class="author" size="30" id="user_name">
            </p>
            <p class="comment-form-email">
                <label style="display:block;">电子邮件</label>
                <input class="author" size="30" id="user_email">
            </p>
            <p>
                <label style="display:block;">评论</label>
                <textarea id="comment_content" class="content" aria-required="true"></textarea>
            </p>
            <input name="submit" type="button" id="submit" value="发表评论">
         <div class="foot"></div>
        </div><!--right结束-->
    </div><!--main结束-->


<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            var user_name = $("#user_name").val();
            var user_email = $("#user_email").val();
            var content = $("#comment_content").val();
            var date = new Date();
            var current_date = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
            var href = window.location.href;
            $.ajax({
                url:href,
                type:"POST",
                data:{
                    "user_name":user_name,
                    "user_email":user_email,
                    "current_date":current_date,
                    "content":content
                },
                success:function (arg) {
                    var obj = jQuery.parseJSON(arg);
                    console.log('123');
                    var new_comment = "<hr> <div class=\"comment_top\" style=\"width: 100%\">\n" +
                        "                        <div class=\"content_top_left\" style=\"width: 10%;height:80px;float: left\">\n" +
                        "                            <img src=\"http://0.gravatar.com/avatar/ec9435af3f1cd6d7fca626d649928e7a?s=44&d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D44&r=G\"\n" +
                        "                                    style=\"margin-top: 20px;\">\n" +
                        "                        </div><!--content_top_left结束-->\n" +
                        "                        <div class=\"content_top_right\" style=\"width: 75%;height:80px;float: left\">\n" +
                        "                            <p style=\"font-size: 15px\">" + obj.user_name +"</p>\n" +
                        "                            <time class=\"time\">" + obj.current_date + "</time>\n" +
                        "                        </div><!--content_top_right结束-->\n" +
                        "                    </div><!--comment_top结束-->\n" +
                        "                    <div class=\"comment_main\">\n" +
                        "                        <section class=\"comment_content\">" + obj.content + "" +
                        "                        </section>\n" +
                        "                        <div class=\"reply\">\n" +
                        "                            <a href=\"#\">回复</a>\n" +
                        "                        </div>\n" +
                        "                    </div><!--comment_main结束-->";
                    $(".comment_list").append(new_comment)
                }
            });
        })
    })
</script>
</body>
</html>