<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
    <div class="main">
        <div class="left">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516113399961&di=d1b240ac2a796900f2a276a793dc929d&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%3D580%2Fsign%3D988ebc2019d5ad6eaaf964e2b1ca39a3%2F77c3b67b02087bf44044d00df0d3572c10dfcf05.jpg" class="to">
            <ul class="nav_list">
                <li>
                    <a href="#">
                        <img src="../../static/images/a1.svg" class="pic">
                        <span class="nav_list_name">前端</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../static/images/a2.svg" class="pic">
                        <span class="nav_list_name">后端</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../static/images/a3.svg" class="pic">
                        <span class="nav_list_name">思考</span>
                    </a>
                </li>
            </ul>
        </div><!--left结束-->
        <div class="right">
            <hr class="hr">
            <div class="article_list">
                <ul class="ul_class">
                    {% for id,title,date in zip(id_list,titles_list,date_list) %}

                    <li><a href="/blog/articles/{{ id }}">{{ title }}</a><span>{{ date }}</span></li>

                    {% end %}

                </ul>
            </div><!--article_list结束-->
            <div class="page">
                <a href="#">Home</a>
                <a href="#">&lt;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">...</a>
                <a href="#">&gt;</a>
                <a href="#">End</a>
            </div>
        </div><!--right结束-->
    </div><!--main结束-->
</body>
</html>